# Environment for local development
default-env.json
.env

# Packages
.tgz

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# IntelliJ
.idea
*.iml

# Optional npm cache directory
.npm
package-lock.json